<a href="https://colab.research.google.com/github/KeerthanaSistla/ML/blob/main/Sem5ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

23-07-2025

details()

sample()

age = df['Age']

slice()

iloc()

rename(columns={"Age":"age", "DiabetesPedigree":"DBF"}).head()  #Chain of function call : name is very impiortant

clear()
filled()

drop()

#Exercise 1

In [ ]:
import pandas as pd
import numpy as np
import string

# 1. Series vs 1-D array, List, Dictionary explanation in comment block above your code (no code needed here)

# 5. Create the following Series and do the specified operations:

# a) EngAlph with 26 alphabet elements and default indices
EngAlph = pd.Series(list(string.ascii_uppercase))
print("EngAlph:\n", EngAlph)

# b) Vowels with specific index labels and all values set to zero
Vowels = pd.Series([0]*5, index=['a', 'e', 'i', 'o', 'u'])
print("Is Vowels empty? ", Vowels.empty)  # Should be False

# c) Friends from a dictionary
Friends = pd.Series({'John': 1, 'Alice': 2, 'Bob': 3, 'Charlie': 4, 'David': 5})
print("Friends:\n", Friends)

# d) MTseries as an empty series
MTseries = pd.Series(dtype=float)  # Use dtype param to avoid warning
print("Is MTseries empty? ", MTseries.empty)  # Should be True

# e) MonthDays from a numpy array
MonthDays = pd.Series(np.array([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]), index=np.arange(1, 13))
print("MonthDays:\n", MonthDays)

# 6. Using the Series created in Question 5:

# a) Set all values of Vowels to 10
Vowels[:] = 10
print("Vowels after setting all values to 10:\n", Vowels)

# b) Divide all values of Vowels by 2
Vowels /= 2
print("Vowels after dividing by 2:\n", Vowels)

# c) Create another series Vowels1
Vowels1 = pd.Series([2, 5, 6, 3, 8], index=['a', 'e', 'i', 'o', 'u'])
print("Vowels1:\n", Vowels1)

# d) Add Vowels and Vowels1 and assign to Vowels3
Vowels3 = Vowels + Vowels1
print("Vowels3 (sum):\n", Vowels3)

# e) Subtract, multiply, and divide Vowels by Vowels1
Vowels_sub = Vowels - Vowels1
Vowels_mul = Vowels * Vowels1
Vowels_div = Vowels / Vowels1
print("Subtraction:\n", Vowels_sub)
print("Multiplication:\n", Vowels_mul)
print("Division:\n", Vowels_div)

# f) Alter labels of Vowels1
Vowels1.index = ['A', 'E', 'I', 'O', 'U']
print("Vowels1 with altered labels:\n", Vowels1)

# 7. Using the Series created in Question 5:

# a) Find dimensions, size, and values
print("EngAlph shape:", EngAlph.shape)
print("Vowels size:", Vowels.size)
print("Friends values:", Friends.values)

# b) Rename MTseries as SeriesEmpty
SeriesEmpty = MTseries
print("SeriesEmpty (originally MTseries):", SeriesEmpty)

# c) Name the index of MonthDays and Friends
MonthDays.index.name = 'monthno'
Friends.index.name = 'Fname'

# d) Display the 3rd and 2nd value of Friends (iloc is zero-based)
print("3rd Friend value:", Friends.iloc[2])  # Bob
print("2nd Friend value:", Friends.iloc[1])  # Alice

# e) Display alphabets 'e' to 'p' from EngAlph (index 4 to 15)
print("Alphabets from 'E' to 'P':\n", EngAlph[4:16])

# f) Display the first 10 values of EngAlph
print("First 10 alphabets:\n", EngAlph.head(10))

# g) Display the last 10 values of EngAlph
print("Last 10 alphabets:\n", EngAlph.tail(10))

# h) Display MTseries (empty)
print("MTseries:\n", MTseries)

# 8. Using the Series created in Question 5:

# a) Display months 3 through 7 from MonthDays
print("Months 3 to 7:\n", MonthDays[3:8])

# b) Display MonthDays in reverse order
print("MonthDays reversed:\n", MonthDays[::-1])

# 9. Create the following DataFrame Sales:
Sales = pd.DataFrame({
    '2014': [100.5, 150.8, 200.9, 30000, 40000],
    '2015': [12000, 18000, 22000, 30000, 45000],
    '2016': [20000, 50000, 70000, 100000, 125000],
    '2017': [50000, 60000, 70000, 80000, 90000]
}, index=['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'])
print("Sales DataFrame:\n", Sales)

# 10. Use the DataFrame Sales to do the following:

# a) Display row labels
print("Row labels:", Sales.index)

# b) Display column labels
print("Column labels:", Sales.columns)

# c) Display data types of each column
print("Data types:\n", Sales.dtypes)

# d) Display dimensions, shape, size, and values
print("Shape:", Sales.shape)
print("Size:", Sales.size)
print("Values:\n", Sales.values)

# e) Display the last two rows
print("Last two rows:\n", Sales.tail(2))

# f) Display the first two columns
print("First two columns:\n", Sales.iloc[:, :2])

# g) Create Sales2 DataFrame from dictionary
Sales2 = pd.DataFrame({
    '2018': [160000, 110000, 500000, 340000, 900000]
}, index=['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'])
print("Sales2 DataFrame:\n", Sales2)

# h) Check if Sales2 is empty
print("Is Sales2 empty?", Sales2.empty)

# 11. Use the DataFrame Sales to do the following:


# Assuming Sales and Sales2 are already defined as in your question:
Sales = pd.DataFrame({
    '2014': [100.5, 150.8, 200.9, 30000, 40000],
    '2015': [12000, 18000, 22000, 30000, 45000],
    '2016': [20000, 50000, 70000, 100000, 125000],
    '2017': [50000, 60000, 70000, 80000, 90000]
}, index=['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'])

Sales2 = pd.DataFrame({
    '2018': [160000, 110000, 500000, 340000, 900000]
}, index=['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'])

# a) Append Sales2 to Sales and assign back to Sales
Sales = pd.concat([Sales, Sales2], axis=1)

# b) Transpose the Sales DataFrame
Sales = Sales.T
print("Sales DataFrame after transpose:")
print(Sales)

# c) Display sales by all salespersons in 2017
print("\nSales by all salespersons in 2017:")
print(Sales.loc['2017'])

# d) Display sales by Madhu and Ankit in 2017 and 2018
print("\nSales by Madhu and Ankit in 2017 and 2018:")
print(Sales.loc[['2017', '2018'], ['Madhu', 'Ankit']])

# e) Display Shruti's sales in 2016
print("\nShruti's sales in 2016:")
print(Sales.loc['2016', 'Shruti'])

# f) Add data for Sumeet (length must match number of columns)
Sales.loc['Sumeet'] = [196.2, 37800, 52000, 78438, 38852]
print("\nSales after adding Sumeet:")
print(Sales)

# g) Delete 2014 data from Sales (drop row because Sales is transposed)
Sales.drop('2014', axis=0, inplace=True)
print("\nSales after dropping 2014 data:")
print(Sales)

# h) Delete data for Kinshuk (drop column because columns are salespersons)
Sales.drop('Kinshuk', axis=1, inplace=True)
print("\nSales after dropping Kinshuk:")
print(Sales)

# i) Change salesperson names (columns rename)
Sales.rename(columns={'Ankit': 'Vivaan', 'Madhu': 'Shailesh'}, inplace=True)
print("\nSales after renaming Ankit to Vivaan and Madhu to Shailesh:")
print(Sales)

# j) Update sales made by Shailesh in 2018
Sales.loc['2018', 'Shailesh'] = 100000
print("\nSales after updating Shailesh's 2018 sales:")
print(Sales)

# k) Write Sales DataFrame to a CSV file (no header or index)
Sales.to_csv('SalesFigures.csv', header=False, index=False)

# l) Read the CSV file and update row/column labels
SalesRetrieved = pd.read_csv('SalesFigures.csv', header=None)
SalesRetrieved.columns = Sales.columns
SalesRetrieved.index = Sales.index
print("\nSales retrieved from CSV with updated labels:")
print(SalesRetrieved)

EngAlph:
 0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
13    N
14    O
15    P
16    Q
17    R
18    S
19    T
20    U
21    V
22    W
23    X
24    Y
25    Z
dtype: object
Is Vowels empty?  False
Friends:
 John       1
Alice      2
Bob        3
Charlie    4
David      5
dtype: int64
Is MTseries empty?  True
MonthDays:
 1     31
2     28
3     31
4     30
5     31
6     30
7     31
8     31
9     30
10    31
11    30
12    31
dtype: int64
Vowels after setting all values to 10:
 a    10
e    10
i    10
o    10
u    10
dtype: int64
Vowels after dividing by 2:
 a    5.0
e    5.0
i    5.0
o    5.0
u    5.0
dtype: float64
Vowels1:
 a    2
e    5
i    6
o    3
u    8
dtype: int64
Vowels3 (sum):
 a     7.0
e    10.0
i    11.0
o     8.0
u    13.0
dtype: float64
Subtraction:
 a    3.0
e    0.0
i   -1.0
o    2.0
u   -3.0
dtype: float64
Multiplication:
 a    10.0
e    25.0
i    30.0
o    15.0
u    40.0
dtype: float64
Division:
 a    2.500000
e    1.000000
i    0.833333
o    1.666667
u    0.625000
dtype: float64
Vowels1 with altered labels:
 A    2
E    5
I    6
O    3
U    8
dtype: int64
EngAlph shape: (26,)
Vowels size: 5
Friends values: [1 2 3 4 5]
SeriesEmpty (originally MTseries): Series([], dtype: float64)
3rd Friend value: 3
2nd Friend value: 2
Alphabets from 'E' to 'P':
 4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
13    N
14    O
15    P
dtype: object
First 10 alphabets:
 0    A
1    B
2    C
3    D
4    E
5    F
6    G
7    H
8    I
9    J
dtype: object
Last 10 alphabets:
 16    Q
17    R
18    S
19    T
20    U
21    V
22    W
23    X
24    Y
25    Z
dtype: object
MTseries:
 Series([], dtype: float64)
Months 3 to 7:
 monthno
4    30
5    31
6    30
7    31
8    31
dtype: int64
MonthDays reversed:
 monthno
12    31
11    30
10    31
9     30
8     31
7     31
6     30
5     31
4     30
3     31
2     28
1     31
dtype: int64
Sales DataFrame:
             2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000
Row labels: Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'], dtype='object')
Column labels: Index(['2014', '2015', '2016', '2017'], dtype='object')
Data types:
 2014    float64
2015      int64
2016      int64
2017      int64
dtype: object
Shape: (5, 4)
Size: 20
Values:
 [[1.005e+02 1.200e+04 2.000e+04 5.000e+04]
 [1.508e+02 1.800e+04 5.000e+04 6.000e+04]
 [2.009e+02 2.200e+04 7.000e+04 7.000e+04]
 [3.000e+04 3.000e+04 1.000e+05 8.000e+04]
 [4.000e+04 4.500e+04 1.250e+05 9.000e+04]]
Last two rows:
            2014   2015    2016   2017
Ankit   30000.0  30000  100000  80000
Shruti  40000.0  45000  125000  90000
First two columns:
             2014   2015
Madhu      100.5  12000
Kusum      150.8  18000
Kinshuk    200.9  22000
Ankit    30000.0  30000
Shruti   40000.0  45000
Sales2 DataFrame:
            2018
Madhu    160000
Kusum    110000
Kinshuk  500000
Ankit    340000
Shruti   900000
Is Sales2 empty? False
Sales DataFrame after transpose:
         Madhu     Kusum   Kinshuk     Ankit    Shruti
2014     100.5     150.8     200.9   30000.0   40000.0
2015   12000.0   18000.0   22000.0   30000.0   45000.0
2016   20000.0   50000.0   70000.0  100000.0  125000.0
2017   50000.0   60000.0   70000.0   80000.0   90000.0
2018  160000.0  110000.0  500000.0  340000.0  900000.0

Sales by all salespersons in 2017:
Madhu      50000.0
Kusum      60000.0
Kinshuk    70000.0
Ankit      80000.0
Shruti     90000.0
Name: 2017, dtype: float64

Sales by Madhu and Ankit in 2017 and 2018:
         Madhu     Ankit
2017   50000.0   80000.0
2018  160000.0  340000.0

Shruti's sales in 2016:
125000.0

Sales after adding Sumeet:
           Madhu     Kusum   Kinshuk     Ankit    Shruti
2014       100.5     150.8     200.9   30000.0   40000.0
2015     12000.0   18000.0   22000.0   30000.0   45000.0
2016     20000.0   50000.0   70000.0  100000.0  125000.0
2017     50000.0   60000.0   70000.0   80000.0   90000.0
2018    160000.0  110000.0  500000.0  340000.0  900000.0
Sumeet     196.2   37800.0   52000.0   78438.0   38852.0

Sales after dropping 2014 data:
           Madhu     Kusum   Kinshuk     Ankit    Shruti
2015     12000.0   18000.0   22000.0   30000.0   45000.0
2016     20000.0   50000.0   70000.0  100000.0  125000.0
2017     50000.0   60000.0   70000.0   80000.0   90000.0
2018    160000.0  110000.0  500000.0  340000.0  900000.0
Sumeet     196.2   37800.0   52000.0   78438.0   38852.0

Sales after dropping Kinshuk:
           Madhu     Kusum     Ankit    Shruti
2015     12000.0   18000.0   30000.0   45000.0
2016     20000.0   50000.0  100000.0  125000.0
2017     50000.0   60000.0   80000.0   90000.0
2018    160000.0  110000.0  340000.0  900000.0
Sumeet     196.2   37800.0   78438.0   38852.0

Sales after renaming Ankit to Vivaan and Madhu to Shailesh:
        Shailesh     Kusum    Vivaan    Shruti
2015     12000.0   18000.0   30000.0   45000.0
2016     20000.0   50000.0  100000.0  125000.0
2017     50000.0   60000.0   80000.0   90000.0
2018    160000.0  110000.0  340000.0  900000.0
Sumeet     196.2   37800.0   78438.0   38852.0

Sales after updating Shailesh's 2018 sales:
        Shailesh     Kusum    Vivaan    Shruti
2015     12000.0   18000.0   30000.0   45000.0
2016     20000.0   50000.0  100000.0  125000.0
2017     50000.0   60000.0   80000.0   90000.0
2018    100000.0  110000.0  340000.0  900000.0
Sumeet     196.2   37800.0   78438.0   38852.0

Sales retrieved from CSV with updated labels:
        Shailesh     Kusum    Vivaan    Shruti
2015     12000.0   18000.0   30000.0   45000.0
2016     20000.0   50000.0  100000.0  125000.0
2017     50000.0   60000.0   80000.0   90000.0
2018    100000.0  110000.0  340000.0  900000.0
Sumeet     196.2   37800.0   78438.0   38852.0

#Exercise 2

In [ ]:
#13. Python code for Product table operations

import pandas as pd
from sqlalchemy import create_engine

# a) Create DataFrame
data = {
    'Item': ['TV', 'TV', 'TV', 'AC'],
    'Company': ['LG', 'VIDEOCON', 'LG', 'SONY'],
    'Rupees': [12000, 10000, 15000, 14000],
    'USD': [700, 650, 800, 750]
}
df = pd.DataFrame(data)

# b) Add new rows
new_rows = pd.DataFrame({
    'Item': ['AC', 'TV'],
    'Company': ['SONY', 'LG'],
    'Rupees': [16000, 13000],
    'USD': [850, 720]
})
df = pd.concat([df, new_rows], ignore_index=True)

# c) Maximum price of LG TV
max_price_lg_tv = df[(df['Item'] == 'TV') & (df['Company'] == 'LG')]['Rupees'].max()
print("Max price of LG TV:", max_price_lg_tv)

# d) Sum of all products (sum of Rupees and USD)
print("Sum of Rupees:", df['Rupees'].sum())
print("Sum of USD:", df['USD'].sum())

# e) Median USD of Sony products
median_usd_sony = df[df['Company'] == 'SONY']['USD'].median()
print("Median USD of Sony products:", median_usd_sony)

# f) Sort by Rupees
df_sorted = df.sort_values(by='Rupees')

# Assuming MySQL credentials and engine creation
engine = create_engine('mysql+pymysql://user:password@host/dbname')

# Transfer sorted data to MySQL table named 'ProductTable'
df_sorted.to_sql('ProductTable', con=engine, if_exists='replace', index=False)

# g) Transfer new dataframe with new values (e.g., adding a new product)
new_data = pd.DataFrame({
    'Item': ['Fridge'],
    'Company': ['LG'],
    'Rupees': [20000],
    'USD': [1200]
})
df_updated = pd.concat([df_sorted, new_data], ignore_index=True)
df_updated.to_sql('ProductTable', con=engine, if_exists='replace', index=False)

#14. Python statements on given dataset (assuming dataset info)
import pandas as pd

# a) Create DataFrame (example)
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Degree': ['MBA', 'BCA', 'MBA'],
    'Marks': [85, 90, None]
}
df = pd.DataFrame(data)

# b) Print Degree and max marks in each stream
print(df.groupby('Degree')['Marks'].max())

# c) Fill NaN with 76
df['Marks'].fillna(76, inplace=True)

# d) Set index to Name
df.set_index('Name', inplace=True)

# e) Display name and degree wise average marks
print(df.groupby(['Name', 'Degree'])['Marks'].mean())

# f) Count number of students in MBA
mba_count = df[df['Degree'] == 'MBA'].shape[0]
print("Number of MBA students:", mba_count)

# g) Mode of marks for BCA
mode_bca = df[df['Degree'] == 'BCA']['Marks'].mode()
print("Mode of BCA marks:", mode_bca)

#30 July 2025

In [14]:
# train_model.py
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import pickle

# Load dataset
iris = load_iris()
X, y = iris.data, iris.target

# Train model
model = RandomForestClassifier()
model.fit(X, y)

# Save model
with open("iris_model.pkl", "wb") as f:
    pickle.dump(model, f)